repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
#- repo: https://github.com/astral-sh/ruff-pre-commit
#  rev: v0.11.7
#  hooks:
#    - id: ruff
#- repo: https://github.com/pre-commit/mirrors-mypy
#  rev: v1.15.0
#  hooks:
#  - id: mypy
#    args: [--check-untyped-defs]
#    additional_dependencies:
#      [
#        # main dependencies
#        click,
#        datasets,
#        ftfy,
#        loguru,
#        numpy,
#        pillow,
#        pydantic,
#        pydantic_settings,
#        pyyaml,
#        respx,
#        rich,
#        setuptools,
#        setuptools-git-versioning,
#        transformers,
#
#        # dev dependencies
#        pytest,
#        pydantic_settings,
#
#        # types
#        types-click,
#        types-PyYAML,
#        types-requests,
#        types-toml,
#      ]
