repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.5.2
  hooks:
    - id: ruff
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.10.1
  hooks:
  - id: mypy
    args: [--check-untyped-defs]
    additional_dependencies:
      [
        # main dependencies
        click,
        datasets,
        ftfy,
        loguru,
        numpy,
        openai,
        pydantic,
        pydantic_settings,
        pyyaml,
        requests,
        rich,
        pillow,
        base64,
        io,
        transformers,

        # dev dependencies
        pytest,
        pydantic_settings,
        requests-mock,

        # types
        types-click,
        types-PyYAML,
        types-requests,
        types-toml,
      ]
