# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# IDE
/.idea
/.vscode

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
.eslintcache
.npmrc
.env.development.local
.env.test.local
.env.production.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Ignore resources related to yalc temp files
.yalc
yalc.lock

# Ignore branch coverage badge
.meta/badge-branches.svg

