name: Release

on:
  push:
    tags:
      - v*
    branches:
      - release/**

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python:
          - "3.12"
          - "3.11"
          - "3.10"
          - "3.9"
          - "3.8"
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - name: Install dependencies
        run: pip install tox
      - name: Run unit tests
        run: tox -e test-unit -- --cov-report=term-missing --cov --cov-fail-under=75

  integration-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python:
          - "3.12"
          - "3.11"
          - "3.10"
          - "3.9"
          - "3.8"
    steps:
      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2.1.3
        with:
          project_id: ${{ secrets.GCP_PROJECT }}
          workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.NM_PYPI_SA }}
      - name: Access OpenAI API Key from Secret Manager
        run: |
          echo "GUIDELLM__OPENAI__API_KEY=$(gcloud secrets versions access latest --secret=openai-automation-token)" >> $GITHUB_ENV
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - name: Install dependencies
        run: pip install tox
      - name: Run integration tests
        run: tox -e test-integration -- --cov-report=term-missing --cov --cov-fail-under=75

  e2e-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python:
          - "3.12"
          - "3.11"
          - "3.10"
          - "3.9"
          - "3.8"
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - name: Install dependencies
        run: pip install tox
      - name: Run e2e tests
        run: tox -e test-e2e -- --cov-report=term-missing --cov --cov-fail-under=75

  publish:
    name: Build & Publish the distribution
    needs: [unit-tests, integration-tests, e2e-tests]
    runs-on: ubuntu-latest
    env:
      GUIDELLM_BUILD_TYPE: release
      GUIDELLM_BUILD_NUMBER: ${{ github.event.pull_request.number || github.run_number }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.8"
      - name: Build and Publish Final Release
        uses: neuralmagic/nm-actions/actions/publish_pypi@main
        with:
          publish_pypi: true
          publish_pypi_internal: true
