name: Release

on:
  push:
    branches:
      - release/**

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python:
          - "3.12"
          - "3.11"
          - "3.10"
          - "3.9"
          - "3.8"
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - name: Install dependencies
        run: pip install tox
      - name: Run unit tests
        run: tox -e test-unit -- --cov-report=term-missing --cov --cov-fail-under=75

  integration-tests:
    runs-on: macos-latest
    strategy:
      matrix:
        python:
          - "3.12"
          - "3.11"
          - "3.10"
          - "3.9"
          - "3.8"
    steps:
      - name: Setup llama.cpp web server
        uses: neuralmagic/nm-actions/actions/llama-cpp@main
        with:
          port: 8080
          model: "aminkhalafi/Phi-3-mini-4k-instruct-Q4_K_M-GGUF"
          context-size: 2048
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - name: Install dependencies
        run: pip install tox
      - name: Run integration tests
        run: tox -e test-integration -- --cov-report=term-missing --cov --cov-fail-under=75

  e2e-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python:
          - "3.12"
          - "3.11"
          - "3.10"
          - "3.9"
          - "3.8"
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - name: Install dependencies
        run: pip install tox
      - name: Run e2e tests
        run: tox -e test-e2e -- --cov-report=term-missing --cov --cov-fail-under=75
